html {
  background: black;
  background-image: url('/noise-light.png');
  font-family: 'Orbitron Variable', sans-serif;
  font-weight: 500;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: white;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  color: white;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  display: block;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.nav-links {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('/noise-light.png');
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: gray;
  background-image: url('/noise-light.png');
  border-radius: 10px;
  color: black;
}

.expanded {
  display: unset;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding-top: 5px;
  overflow: auto;
}

.post-link {
  border: 2px double white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 10px;
  margin-bottom: 30px;
  min-height: 100px;
  width: 80%;
}

.post-link > a {
  color: white;
  text-decoration: none;
 }

.post-link:hover  {
  border: none;
  box-shadow: 0 0 5px 5px rgb(205, 199, 199);
  transition: ease-in-out 5ms;
}

.post-link > a:hover {
  text-decoration: underline;
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 10px;
   
  }

  .hamburger {
    display: none;
  }

  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5px 0;
    padding: 5px 5px;
    overflow: auto;
  }
  
  .post-link {
    border: 2px double white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px;
    margin-bottom: 30px;
    min-height: 100px;
    width: 90%;
  }

  .post-link > a {
   color: white;
   text-decoration: none;
  }

  .post-link:hover {
    border: none;
    box-shadow: 0 0 5px rgb(205, 199, 199);
    transition: ease-in-out 5ms;
  }
}
