---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Site</title>
	</head>
	<body>
		<h1>About Me</h1>
        <p>Hello! This site will update as I complete this tutorial. I'm trying to make my own digital garden</p>
	</body>
</html>
