---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: black;
      background-color: white;
      text-decoration: none;
      border-radius: 30px;
      border-color: black solid 1px;
    }

    a:hover {
      padding: 0.5rem 1rem;
      color: white;
      background-color: grey;
      text-decoration: none;
      border-radius: 30px;
      border-color: black solid 5px;
    }
  </style>